*{
	margin:0;
	padding:0;
}
body{
	background: #F1EF9F; /*#037E8C verde claro ---#024959 verde oscuro*/
}
header{
	width: 100%;
}
header nav{
	width: 100%;
	max-width:1500px;
	margin:15px auto;
	background: #434749;
	border-top-style: solid;
	border-top-width: 6px;
	border-top-color: #AF190A;
}
.menu_bar{
	display:none;
}
header nav ul{
	overflow: hidden;
	list-style: none;
}
header nav ul li{
	float:left;
}
header nav ul li a{
	color:white;
	padding: 20px;
	display: block;
	text-decoration: none;
}
header nav ul li span{
	margin-right: 10px;
}
header nav ul li a:hover {
	background: #AF190A;
	color: white;
}
section{
	padding: 20px;
}

@media screen and (max-width: 800px){
header nav{
	width: 80%;
	height: 45%;
	left: -100%;
	margin: 0;
	position: absolute;
	}
	header nav ul li{
		display: block;
		float: none;
		border-bottom: 1px solid rgba(255,255,255, .3);
	}
	.menu_bar{
		display: block;
		width: 100;
		background: #434749;
	}
	.menu_bar .bt-menu{
		display: block;
		padding: 20px;
		background: #434749;
		color: #fff;
		text-decoration: none;
		font-weight: bold;
		font-size: 25px;
		-webkit-box-sizing:border-box;
		-moz-box-sizing:border-box;
		box-sizing:border-box;
	}
	.menu_bar span{
		float: right;
		font-size: 25px;
	}
}